@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

.gallery {
    width: 1440px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
    // justify-content: center;
    margin: 50px auto ;
    flex-basis: calc(100% / 5 - 20px);

}

a {
    display: block;
    margin: 10px auto;
    // width: 200px;
    // min-height: 100%;
    flex-basis: calc(100% / 4 - 20px);
    justify-content: center;
    border-width: 1px;
    border-color: gray;
    border-radius: 20px;
    text-decoration: none;
    transition: transform var(--animation-duration) var(--timing-function);
}

a:hover{
    transform: scale(1.03);
    cursor: zoom-in;    
}

.photo-card img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}
.info {
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

    color: white;
    background-color: rgb(17, 185, 25);
    border-radius: 2px 2px 2px 2px;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10px;

    font-family: 'Roboto',
        'Open Sans',
        sans-serif;
    line-height: 1.4;
    font-size: 12px;
}

.load-more {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 40px;

    font-family: 'Roboto',
        'Open Sans',
        sans-serif;
    line-height: 1.5;
    font-size: 16px;

    background-color: rgb(31, 153, 161);
    color: white;
    border-color: white;
    border-radius: 20px 20px 20px 20px;
    border-width: 0.1em;

    //   position: absolute;
    // transform: translateX(-1000vw);
    transition: transform 250ms ease-in-out;
}

.load-more:hover {
    background-color: rgb(228, 49, 49);
    color: white;
    border-color: rgb(228, 49, 49);
    border-width: 1px;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
}

.hidden{
    display: none;
}
